{% extends "base.html" %}
{% load i18n %}
{% block section %}
<section id="login">

  <div class="container">
    
      <form class="form-signin" action="." method="post" id="login-form">{% csrf_token %}
        <h2 class="form-signin-heading">{{ message }}</h2>
        <label for="id_username" class="sr-only">Email address</label>
        <input type="text" name="username" id="id_username" class="form-control" placeholder="User Name" required autofocus>
        <label for="id_password" class="sr-only">Password</label>
        <input type="password" name="password" id="id_password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    
    </div>
    </section> 



<!--
<section id="login">
    <div class="container">
    <div class = "row">
    <div class="col-md-4">
    
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}
    
    <form method="POST" action=".">{% csrf_token %}
        <table border="0">
            
            <tr><th><label for="id_username">Username:</label></th><td>{{ form.username }}</td></tr>
            <tr><th><label for="id_password">Password:</label></th><td>{{ form.password }}</td></tr>
            
        <label for="id_username" class="sr-only">UserName</label>
        <input type="username" id="username" class="form-control" placeholder="Username" required autofocus>

        <label for="id_password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required>

        </table>
        <div class = "row">
        <div class="col-md-4">
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Sign in</button>
        <input type="hidden" name="next" value="/login_success" />
        </div>
        </div>
    </form>
    <a href="/volunteer_register/">Volunteer Register</a>
    <a href="/newstudent_register/">New Student Register</a>
    </div>
    </div>
    </div>

    
    </section>
    

  <div class="container">

      <form class="form-signin" method="post" action=".">{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="id_username" class="sr-only">UserName</label>
        <input type="username" id="username" class="form-control" placeholder="Username" required autofocus>
        <label for="id_password" class="sr-only">Password</label>
        <input type="password" id="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Sign in</button>
        <input type="hidden" name="next" value="/login_success" />
      </form>

    </div> 
    -->

    {% endblock %}