{% extends "base.html" %}
{% block section %}
<section id="login">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: separate;
            border-spacing: 2px;
            border-color: gray;
        }
    </style>

    <div class="container">
        <b> Current User </b>
        <p>{{current_user}}</p>
    </div>
    <div class="container">
        <table>
        <tr>
            <th>User Name</th>
            <th>Flight </th>
        </tr>
        {% for element in new_student %}
        <tr>
            <td>{{element.username}}</td>
            <td>{{element.flight}}</td>
        </tr>
        {% endfor %}
        </table>
    </div>
    <form action="demo_form.asp">
        <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
        <input type="checkbox" name="vehicle" value="Car" checked> I have a car<br>
        <input type="submit" value="Submit">
    </form>

</section>
{% endblock %}

